<app-navbar></app-navbar>
<app-social-bar class="d-none d-md-block"></app-social-bar>
<div class="container posts-wrapper mt-5">
    <div class="input-group justify-content-end">
        <app-search-input></app-search-input>
    </div>
    <app-post-card date="2020/02/03" author="Wendryl Santos" title="Angular Material" description="Lorem ipsum dolor sit amet"></app-post-card>
    <app-post-card date="2020/01/02" author="Wendryl Santos" title="React Redux" description="Lorem ipsum dolor sit amet"></app-post-card>
    <app-post-card date="2019/06/02" author="Wendryl Santos" title="Javascript" description="Lorem ipsum dolor sit amet"></app-post-card>
    <div class="text-center my-5">
        <button class="btn btn-outline-dark">
            Older posts
        </button>
    </div>
</div>
<app-footer></app-footer>