<div class="row w-100">
  <app-sidebar class="col-1"></app-sidebar>
  <div class="col-11 p-3">
    <div class="row gx-3">
      <app-dashboard-card
        cardIcon="fa-tag"
        cardLabel="Tags"
        cardCount="2"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        cardIcon="fa-newspaper"
        cardLabel="Posts"
        cardCount="8"
        class="col-md-4">
      </app-dashboard-card>
      <app-dashboard-card
        cardIcon="fa-filter"
        cardLabel="Categories"
        cardCount="2"
        class="col-md-4">
      </app-dashboard-card>
    </div>
  </div>
</div>
