<div class="row w-100">
    <app-sidebar class="col-1"></app-sidebar>
    <div class="col-11 p-3">
        <div class="row gx-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-end">
                        <i class="float-start fs-1 fas fa-tag text-primary"></i>
                        <h5>Available tags</h5>
                        <h3>4</h3>
                    </div>
                    <div class="card-footer text-start">
                        <a class="btn btn-link" href="#">
                            <i class="mx-1 fas fa-arrow-right"></i>
                            See all
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>