<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-okaidia.min.css" integrity="sha512-5HvW0a7ihK3ro2KhwEksDHXgIezsTeZybZDIn8d8Y015Ny+t7QWSIjnlCTjFzlK7Klb604HLGjsNqU/i5mJLjQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/bundle.css">
    <title>wendryl.dev | {{ title }}</title>
  </head>
  <body>
    <nav>
      <ul class="links container">
        <li>
          <a href="/">
            Home
          </a>
        </li>
        <li>
          <a href="/about">
            Sobre
          </a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <img src="{{ cover }}" alt="{{ coveralt }}" class="post-cover">
      <h1>
        {{ title }}
      </h1>
      <span class="post__date">
        {{ page.date | prettydate }}
      </span>
      <h3>
        {{ summary }}
      </h3>
      <hr>
      {{ content | safe }}
      <a href="/">
        Todos os posts
      </a>
    </div>
    <span class="copy">
      Copyright &copy; Wendryl Santos Tecnologia - {% year %}
    </span>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js" integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>
