<nav class="navbar navbar-dark bg-dark d-flex flex-column vh-100 justify-content-center">
    <ul class="navbar-nav text-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['']" title="Dashboard">
                <i class="fas fa-tachometer-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" title="All posts">
                <i class="fas fa-newspaper"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" title="New post">
                <i class="fas fa-plus-square"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" title="Tags">
                <i class="fas fa-tags"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" title="My profile">
                <i class="fas fa-user-cog"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" title="Settings">
                <i class="fas fa-cog"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" title="Logout">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</nav>
